.calculadora {
    background: rgb(13, 3, 58);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.calculadora input {
    background: rgb(13, 3, 58);;
    color: yellow;
    padding: 5px;
    border-radius: 5px;
}
#spTotal {
    background: rgb(18, 26, 36);
    color: rgb(255, 251, 0);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
.calculadora button {
    background: rgb(18, 26, 36);
    color: rgb(229, 255, 0);
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;

}
.calculadora button:hover {
    background: rgb(1, 13, 53);
    color: rgb(255, 230, 0);
    cursor: pointer;
}
